<!--
  ~ Project SmarKtor
  ~
  ~ A template project for Ktor in Kotlin
  ~
  ~ Copyright (c) Alessio Saltarin, 2021.
  ~ This software is licensed under MIT License.
  ~
  -->

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %cyan(%logger{15}) - %msg %n</pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="com.zaxxer.hikari.HikariConfig" level="INFO"/>
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="INFO"/>
    <logger name="com.zaxxer.hikari.pool.ProxyConnection" level="INFO"/>
    <logger name="ktor.test" level="INFO"/>
    <logger name="Exposed" level="DEBUG"/>
</configuration>
